$font-primary: "Lato", "Arial", sans-serif;
$font-secondary: "Oswald", "Arial", sans-serif;

$color-white: #ffffff;
$color-black: #000000;

$color-green-500: #68b738;
$color-green-600: #5eaa2f;

$color-grey-100: #f2f2f2;
$color-grey-200: #eaeaea;
$color-grey-700: #444444;
$color-grey-900: #222222;
$color-grey-950: #111111;

$color-error: #ff8282;
