.additional-product {
  line-height: 14px;
}

.additional-product__title {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-text-secondary;
}

.additional-product__description {
  margin: 0;
}

.additional-product__price {
  margin: 0;
}
