.additional {
  padding-block: 13px 20px;

  @media (max-width: $tablet-width) {
    padding-block: 34px 40px;
  }

  @media (min-width: $tablet-width) {
    padding-block: 35px 48px;
  }
}

.additional__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 245px;
    gap: 80px;
  }
}

.additional__title {
  margin-block-end: 36px;
  font-size: 24px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    margin-block-end: 80px;
    padding-inline: 40px;
    font-size: 32px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    grid-column: span 2;
    margin-block-end: 0;
    padding-inline-start: 0;
    font-size: 40px;
    line-height: 40px;
  }
}

.additional__list {
  margin-block-end: 35px;
  border-top: $border-optional;
  border-bottom: $border-optional;

  @media (min-width: $tablet-width) {
    margin-block-end: 70px;
    padding-inline: 38px;
    border: $border-optional;
  }

  @media (min-width: $desktop-width) {
    margin-block-end: 0;
    padding-inline: 0;
    border: none;
    border-top: $border-optional;
    border-bottom: $border-optional;
  }
}
