.additional-product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 13px 10px;
  padding-block: 13px 19px;
  line-height: 14px;
  border-bottom: $border-optional;

  &:last-child {
    border-bottom: none;
  }

  @media (min-width: $tablet-width) {
    gap: 25px;
    padding-block: 26px 28px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 245px 1fr 245px;
    align-items: center;
    column-gap: 40px;
    padding-block: 15px 16px;
  }
}

.additional-product__wrapper {
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    grid-column: span 1;
    justify-content: flex-end;
    column-gap: 50px;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    max-width: 245px;
    justify-content: space-between;
  }
}

.additional-product__title {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-text-secondary;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.additional-product__description {
  margin: 0;
}

.additional-product__price {
  margin: 0;
}

.additional-product__button {
  grid-column: span 2;

  @media (min-width: $desktop-width) {
    grid-column: span 1;
  }
}
