.contacts {
  background-color: $color-background;
}

.contacts__cooperation {

}

.contacts__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-text-accent;
}

.contacts__address {
  line-height: 20px;
  font-style: normal;
  color: $color-text-primary;
}

.contacts__address-city {

}

.contacts__map {

}
