.contacts {
  background-color: $color-grey-100;
}

.contacts__cooperation {

}

.contacts__title {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-grey-950;
}

.contacts__address {
  line-height: 20px;
  font-style: normal;
  color: $color-grey-700;
}

.contacts__address-city {

}

.contacts__map {

}
