.header {
  position: relative;
  padding-block: 13px 15px;

  @media (min-width: $tablet-width) {
    padding-block: 25px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 100%;
    padding-block: 55px;
    z-index: 1;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
  }
}

.header__logo-primary {
  flex-shrink: 0;
  height: 38px;

  @media (min-width: $tablet-width) {
    column-gap: 13px;
    width: 60px;
    height: 50px;
    margin-right: 13px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 14px;
    width: 70px;
    height: 59px;
    margin-right: 14px;
  }
}

.header__logo-image {
  @media (min-width: $tablet-width) {
    width: 60px;
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: auto;
  }
}

.header__logo-secondary {
  flex-shrink: 0;

  @media (min-width: $tablet-width) {
    margin-inline-end: 94px;
  }

  @media (min-width: $desktop-width) {
    margin-inline-end: 0;
  }
}

.header__logo-text {
  display: block;

  @media (min-width: $tablet-width) {
    width: 101px;
    height: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 118px;
    height: 21px;
  }
}

.header__toggle {
  @media (max-width: $mobile-width-only) {
    width: 24px;
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    &--open {
      background-image: url("../../icons/stack.svg#icon-button-open");
    }

    &--open + .header__nav {
      display: none;
    }

    &--close {
      background-image: url("../../icons/stack.svg#icon-button-close");
      background-size: 18px 18px;
    }

    &--close + .header__nav {
      display: block;
      background-color: $color-white;
      z-index: 2;
    }
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__nav {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: $color-white;

  @media (min-width: $tablet-width) {
    position: static;
    width: auto;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    max-width: 610px;
  }
}
