.hero {
  font-family: $font-secondary;
  color: $color-white;
  background-color: rgba($color-green-500, 85%);
}

.hero__title {
  @include title();
  text-align: center;
}

.hero__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
}

.hero__button {

}
