.input {
  padding: 0;
  width: 100%;
  font-family: $font-secondary;
  font-size: 20px;
  line-height: 20px;
  font-weight: inherit;
  text-transform: uppercase;
  color: $color-text-primary;
  background-color: $color-white;
  border: $border-input;
}
