.product-card {
  font-size: 12px;
  line-height: 16px;
  color: $color-text-primary;
}

.product-card__image-link {

}

.product-card__image {

}

.product-card__info {

}

.product-card__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-text-secondary;

  &--more {
    color: $color-text-accent;
  }
}

.product-card__title-link {
  text-decoration: none;
  color: inherit;
}

.product-card__specs {

}

.product-card__item {

}

.product-card__term {

}

.product-card__value {
  margin: 0;
}

.product-card__text {
  margin: 0;
}

.product-card__button {

}

.product-card__description {

}
