.product-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 22px;
  padding-block: 20px 25px;
  font-size: 12px;
  line-height: 16px;
  color: $color-text-primary;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 32px;
    padding-block: 40px;
    padding-inline: 37px;
    font-size: 16px;
    line-height: 20px;
    background-color: $color-background;
  }

  &--last {
    padding-block-start: 25px;

    @media (min-width: $tablet-width) {
      padding-block-start: 50px;
      background-color: $color-white;
      border: 2px solid $color-background;
    }
  }
}

.product-card__last .product-card__description {
  position: relative;
  grid-column: span 2;
  padding-block-start: 53px;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 30px;
    aspect-ratio: 1;
    background-image: url("../../icons/icon-plus.svg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      width: 60px;
    }
  }

  &::after {
    transform: translateX(-50%) rotate(90deg);
  }

  @media (min-width: $tablet-width) {
    width: 170px;
    margin-inline: auto;
    padding-block-start: 110px;
  }
}

.product-card--last .product-card__text {
  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
  }
}

.product-card__image-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  @media (min-width: $tablet-width) {
    flex-basis: 210px;
  }
}

.product-card__title {
  margin-block-end: 14px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-text-secondary;

  &--more {
    margin-block-end: 14px;
    color: $color-text-accent;

    @media (min-width: $tablet-width) {
      margin-block-end: 23px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-block-end: 20px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.product-card__title-link {
  text-decoration: none;
  color: inherit;
}

.product-card__specs {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }
}

.product-card__weight {
  display: block;
}

.product-card__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;

  @media (min-width: $tablet-width) {
    padding-block: 5px;
    border-bottom: $border-optional;
  }
}

.product-card__value {
  margin: 0;
}

.product-card__text {
  margin: 0;
}

.product-card__button {
  grid-column: span 2;
}
