.program {
  background-color: $color-grey-100;
}

.program__title {
  font-family: $font-secondary;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
}

.program__content {
  font-family: $font-primary;
  color: $color-grey-700;
}

.program__link {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-black;
}
