.program {
  background-color: $color-background;
  background-repeat: no-repeat;

  &--slim {
    background-image: url("../../icons/stack.svg#cat-back-slim");
    background-position: 20px 20px;
    background-size: 50px 53px;

    @media (min-width: $tablet-width) {
      background-position: calc(100% - 63px) 81px;
      background-size: 200px 211px;
    }

    @media (min-width: $desktop-width) {
      background-position: 52px 41px;
      background-size: 100px 100px;
    }
  }

  &--pro {
    background-image: url("../../icons/stack.svg#cat-back-pro");
    background-position: 13px 24px;
    background-size: 67px 50px;

    @media (min-width: $tablet-width) {
      background-position: calc(100% - 29px) 91px;
      background-size: 268px 200px;
    }

    @media (min-width: $desktop-width) {
      background-position: 33px 47px;
      background-size: 134px 100px;
    }
  }
}

.program__title {
  margin-left: 70px;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 73px;
    margin-left: 162px;
  }
}

.program__content {
  margin: 0;
  font-family: $font-primary;
  color: $color-text-primary;

  &:not(:last-child) {
    margin-bottom: 20px;


    @media (min-width: $tablet-width) {
      margin-bottom: 48px;
      padding-bottom: 0;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 23px;
    }
  }

  &:last-of-type {
    border-bottom: $border-main;
    padding-bottom: 23px;

    @media (min-width: $tablet-width) {
      border: none;
    }
  }

  @media (min-width: $tablet-width) {
    max-width: min(56%, 600px);
    font-size: 16px;
    line-height: 24px;
  }
}

.program__link {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 15px;
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-black;

  @media (min-width: $tablet-width) {
    column-gap: 25px;
    font-size: 20px;
    line-height: 20px;
  }

  &::after {
    content: "";
    display: inline-block;
    width: 24px;
    aspect-ratio: 0.8;
    background-color: $color-black;
    mask-image: url("../../icons/icon-arrow.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
  }
}
