.slider__images {
  position: relative;
  margin-inline: auto;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 560px;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    top: -150px;
  }

  @media (min-width: $desktop-width) {
    position: initial;
    width: 100%;
    padding-inline: 0;
  }
}

.slider__image {
  display: block;

  &--after {
    display: none;
  }
}

.slider__toggle {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 100%;
  background-color: $color-background-accent;
  border-radius: 2px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    aspect-ratio: 1;
    background-color: $color-white;
    border: 2px solid $color-background-accent;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 18px;
    background-color: $color-background-accent;
    mask-image: url("../../icons/slider-arrows.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 24px 18px;
  }
}
