.slider {
  position: relative;
  display: grid;
  aspect-ratio: 280 / 256;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    aspect-ratio: 560 / 512;
  }
}

.slider__picture {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  overflow: hidden;

  &--before {
    width: 50%;
    z-index: 1;
  }

  &--after {
    display: block;
    justify-self: end;

    picture {
      margin-left: auto;
    }
  }

  picture {
    display: block;
    width: 280px;

    @media (min-width: $tablet-width) {
      width: 560px;
    }
  }
}

.slider__image {
  display: block;
  width: 280px;
  height: auto;
  max-width: none;

  @media (min-width: $tablet-width) {
    width: 560px;
  }
}

.slider__toggle {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 100%;
  background-color: $color-background-accent;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.2s ease;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    aspect-ratio: 1;
    background-color: $color-white;
    border: 2px solid $color-background-accent;
    border-radius: 50%;
    transition: all 0.2s ease;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 18px;
    background-color: $color-background-accent;
    mask-image: url("../../icons/slider-arrows.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 24px 18px;
    transition: all 0.2s ease;
  }

  &:hover,
  &:focus-visible {
    background-color: $color-green-basic;

    &::before {
      border-color: $color-green-basic;
    }

    &::after {
      background-color: inherit;
    }
  }

  &:active {
    background-color: rgba($color-green-alternate, 0.6);

    &::before {
      border-color: rgba($color-green-alternate, 0.6);
    }
  }
}
