.special-offer {
  color: $color-white;
  background-color: rgba($color-green-alternate, 85%);
}

.special-offer__image {

}

.special-offer__description {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}
