.stats {

}

.stats__item {

}

.stats__term {

}

.stats__term-text {
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  text-align: center;
  color: $color-text-primary;
}

.stats__definition {
  margin: 0;
  font-family: $font-secondary;
  font-size: 24px;
  line-height: 24px;
}
