.subscription {
  font-family: $font-secondary;
  line-height: 24px;
}

.subscription__title {
  font-size: 24px;
  font-weight: 400;
}

.subscription__description {
  font-size: 16px;
}

.subscription__form {

}

.subscription__email-field {

}

.subscription__button {

}
